/* ImageClipping.css */
.image-container {
	position: relative;
	overflow: hidden;
	width: 20rem;
	height: auto;
}

.clip-path-element {
	position: absolute;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	background-color: rgb(182, 138, 138);
	clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%);
}

.image {
	display: block;
	width: 20rem;
	overflow: hidden;
	height: 100%;
}
