@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 600px) {
	span {
		display: inline-block;
		font-size: 2rem;
		font-family: "Tilt Prism" !important;
	}
}
span {
	display: inline-block;

	font-family: "Alfa Slab One";
}
.rotate3D {
	transition-delay: 1000ms;
	transform: rotate3d(0, 1, 0, 3.142rad);
}
